---
# Front matter
---
@charset "utf-8";

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "tools",
  "objects",
  "constants",
  "syntax.solarized-dark",
  "base"
;

$nav-bar-height: 60px;
$toc-width: 20%;

#nav-bar {
  background-color: #eee;
  position: fixed;
  width: 100%;
  top: 0;
  height: $nav-bar-height;
  display: flex;
  flex-direction: row;
  align-items: center;
  a {
    font-family: Lucida Console, Courier, monospace;
    border-bottom: 0px;
    color: black;
    &:hover {
      color: $link;
    }
  }
  .nav-bar-item {
    flex: .75;
    a {
      font-size: 1.25em;
    }
  }
  .nav-bar-main-item {
    flex: 1.25;
    a {
      font-size: 1.6em;
    }
  }
}

#toc {
  position: fixed;
  width: $toc-width;
  overflow-y: scroll;
  top: $nav-bar-height;
  bottom: 0;
  left: 0;
  border-right: 1px solid #777;
  ul {
    padding-left: 20px;
    padding-right: 10px;
  }
  li {
    list-style-type: none;
    margin-top: 5px;
    a {
      border-bottom: 0px;
      color: $nav_link;
      &:visited {
        color: $nav_link;
      }
      &:hover {
        &::before {
          color: black;
        }
      }
      &::before {
        content: '▸ ';
        color: #ddd;
      }
    }
  }
}

#content {
  width: 100% - $toc-width * 2.25;
  margin-left: $toc-width * 1.5;
  padding-top: $nav-bar-height;
}

h1,h2,h3,h4,h5 {
  color: black;
}

// https://css-tricks.com/hash-tag-links-padding/
h2:before,h3:before,h4:before {
  display: block;
  content: " ";
  margin-top: -$nav-bar-height;
  height: $nav-bar-height;
  visibility: hidden;
}

a {
  font-weight: 400;
}

.button {
  background-color: #bbb;
  border-radius: 6px;
  padding: 4px 20px 2px;
  color: white;
  &:hover {
    background-color: #aaa;
    border-bottom: 0px;
  }
}

.header {
  h1,a {
    display: inline;
  }
  a:last-child {
    float: right;
  }
}

input[type=search]
{
  background-color: white;
  border: solid 1px #BFBDBD;
  border-radius: 6px;
  height: $nav-bar-height * .6;
  padding-left: 10px;
  box-shadow: 2px 2px 0 black inset;
  width: 200px;
}
