---
# Front matter
---
@charset "utf-8";

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "tools",
  "objects",
  "constants",
  "syntax.solarized-dark",
  "base"
;

$nav-bar-height: 70px;
$toc-width: 22%;
$content-width: 60%;
$content-width-small: 92%;
$break-small: 720px;

.hide-small {
  @media screen and (max-width: $break-small) {
    display: none !important;
  }
}

.hide-big {
  @media screen and (min-width: $break-small+1) {
    display: none !important;
  }
}

#nav-bar {
  background-color: #eee;
  position: fixed;
  width: 100%;
  top: 0;
  min-height: $nav-bar-height;
  display: flex;
  flex-direction: row;
  align-items: center;
  a {
    font-family: Lucida Console, Courier, monospace;
    border-bottom: 0px;
    color: black;
    &:hover {
      color: $link;
    }
  }
}

.nav-links {
  padding-left: 5%;
  flex: 2;
}
.nav-search {
  flex: 1;
  display: flex;
  padding-right: 5%;
  justify-content: flex-end;
}
.site-title {
  font-size: 1.8em;
  margin-right: 40px;
}
.external-link {
  font-size: 1.35em;
  margin-right: 20px;
}

@mixin toc {
  ul {
    padding-left: 20px;
    padding-right: 10px;
  }
  li {
    list-style-type: none;
    margin-top: 5px;
    a {
      border-bottom: 0px;
      color: $nav_link;
      &:visited {
        color: $nav_link;
      }
      &:hover {
        &::before {
          color: black;
        }
      }
      &::before {
        content: '▸ ';
        color: #ddd;
      }
    }
  }
}

#toc {
  position: fixed;
  width: $toc-width;
  overflow-y: scroll;
  top: $nav-bar-height;
  bottom: 0;
  left: 0;
  border-right: 1px solid #888;
  @include toc;
}

#toggle-toc {
  margin-top: 10px;
  font-weight: bold;
  height: 1.5em;
  padding: 4px 10px 3px;
  border: 1px solid #888;
  border-radius: 5px;
  span {
    &::after {
      content: '☰';
      text-align: right;
      float: right;
    }
  }
}

#toggle-toc.open {
  span {
    &::after {
      content: '▴';
      text-align: right;
      float: right;
    }
  }
}

#toc-mobile {
  @include toc;
}

#content-wrapper {
  width: $content-width;
  margin-left: $toc-width + (100% - $toc-width - $content-width) / 2;
  padding-top: $nav-bar-height * 1.4;
  margin-bottom: $nav-bar-height;
  @media screen and (max-width: $break-small) {
    width: $content-width-small;
    margin-left: (100% - $content-width-small) / 2;
  }
}

h1,h2,h3,h4,h5 {
  color: black;
}

// https://css-tricks.com/hash-tag-links-padding/
h1:before,h2:before,h3:before,h4:before,h5:before {
  display: block;
  content: " ";
  margin-top: -$nav-bar-height * 1.20;
  height: $nav-bar-height * 1.20;
  visibility: hidden;
}

a {
  font-weight: 400;
}

.button {
  background-color: #bbb;
  border-radius: 6px;
  padding: 4px 20px 2px;
  color: white;
  &:hover {
    background-color: #aaa;
    border-bottom: 0px;
  }
  margin: 0px 10px;
}

.header {
  h1,a {
    display: inline;
  }
  a,iframe {
    float: right;
    @media screen and (max-width: $break-small) {
      float: none;
    }
  }
}

input[type=search]
{
  border: 2px solid #888;
  border-radius: 7px;
  background-color: white;
  height: $nav-bar-height * .6;
  padding-left: 15px;
  width: 150px;
  -webkit-transition: width .2s ease-in-out;
  -moz-transition:width .2s ease-in-out;
  -o-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
  &:focus {
    width: 220px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
  }
}
